
body{
    background-color: #FAFAFA;
    min-width: 400px;
}

.green{
    background-color: green;
}

.center{
    text-align: center;
}
input[type="text"], input[type="password"],  input[type="email"]{
    background-color: #FAFAFA;
}

.container .header{
    max-width: 935px;
}

/*header*/
.whiteheader{
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}
.header{
    max-width: 935px;
}
.camagruh{
    font-family: billabong;
    font-size: 40px;
}
.margin{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}
.nav-right{
    color: black;
    margin: 15px;
    white-space: nowrap;
}
.nav-right:hover{
    color: black;
    text-decoration: none;
}

.nav-left{
    color: black;

    white-space: nowrap;
}
.nav-left:hover{
    color: black;
    text-decoration: none;
}

.photo-ico{
    width: 40px;
}
.logout-ico, .galerie-ico, .profil-ico, .notif-ico{
    width: 25px;
    margin: 15px;
}
.notif-on:hover .notifs{
    display: block;
}
.notifs{
    display: none;
    position: absolute;
    border-radius: 5px;
    border: 1px solid rgb(235, 228, 228);
    list-style-type: none;
    padding: 1%;
    max-height: 120px;
    overflow: overlay;
    font-size: 15px;
    background-color: white;
    padding: 10px;
}
.notifs::-webkit-scrollbar{
    display: none;
}
.navbar-expand-sm .navbar-nav{
    flex-direction: row-reverse;
}
.notif{
    padding: 5px 0 5px 0;
}
.notif:hover{
    padding: 5px 0 5px 0;
    background-color: #007bff;
}



/*index*/
.camagru{
    text-align: center;
    padding: 10px;
    font-family: billabong;
    font-size: 60px;
}
.login-form{
    width: 370px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #E6E6E6;
    background-color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}
.pwd-forgot{
    text-align: center;
    color: black;
}
.pwd-forgot:hover{
    text-decoration: none;
}

.no-account{
    width: 370px;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #E6E6E6;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.hr {
    padding-top: 20px;
    align-items: center;
    display: flex;
    text-align: center;
    color: rgba(160, 155, 155, 0.87);
}
.hr::before,
.hr::after {
    border-top: .0625em solid #E6E6E6;
    content: "";
    flex: 1;
    margin: 0 .9em;
}

/*reset*/
.create-account{
    text-align: center;
    color: black;
    margin-bottom: 30px;
}
.create-account:hover{
    text-decoration: none;
}
.back-to-log{
    text-align: center;
    margin-top: 10px;
    color: black;
}
.back-to-log:hover{
    text-decoration: none;
}
.bottom-back{
    margin: -5px -50px -10px -50px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
}


/*sign up*/

h6{
    font-size: 12px;
    text-align: center;
}

/*edit_profil*/

.edit_profil{
    border-radius: 10px;
    background-color: white;
    border: 1px solid #E6E6E6;
    max-width: 700px;
    margin-top: 50px;
}
.nav-profil-left{
    border-radius: 10px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.nav-profil-right{
    border-radius: 10px;
    background-color: white;
    border-left: 1px solid #E6E6E6;
}
.form-right{
    margin-top: 20px;
}
.list-group-item:first-child,
.list-group-item:last-child{
    border-radius: 10px;
}
.item{
    margin: 0%;
    border-radius: 10px;
    border: none;
}
.item a{
    color: black;
}
.item a:hover{
    text-decoration: none;
}
.active a{
    color: white;
}

.img-profil-edit{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
.upload-img{
    font-size: 15px;
    padding: 1px 1px 1px 1px;
    border-radius: 50px;
}
.modifpdp:hover{
    cursor: pointer;
}

/*galerie*/

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 480px;
    height: 480px;
    object-fit: none;
    position: relative;
  }

.galerie{
    margin-top: 50px;
    max-width: 935px;
    padding: 0;
}
.galerietxt{
    font-family: billabong;
    font-size: 50px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-contentt{
    background-color: #f4f4f4;
    margin: 230px auto;
    padding: 0px;
    width: 935px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);

}
.close{
    color: #ccc;
    margin-right: 5px;
    font-size: 30px;
    position: relative;
    z-index: 100;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.page-item.active .page-link {
    z-index: 0;
}
.imginmodal{
    margin: 0;
}
.modalimg{
    margin: 1%;
    width: 100%;
    max-height: 100%;
}
.modalimg:hover {
    opacity:0.4;
}
.centered {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a:hover > .centered{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}


/*profil*/

.profil{
    max-width: 935px;
    margin-top: 50px;
}

.img-profil{
    border-radius: 50%;
    width: 100px;


}
.darken:hover{
    background-color:#000;
}
.modifp{
    margin: auto;
    border-radius: 50px;
}
.delpicbtn{
    margin: 10px;
}
.table td, .table th{
    vertical-align: middle;
}


/*photo*/
.comments{
    height: 18em;
    /* border: solid black 1px; */
    overflow: overlay;
    margin-top: 20px;
}
.comments::-webkit-scrollbar {
    display: none;
}

.fakemod{
    background-color: white;
    margin-top: 100px;
    padding: 0px;
}

.behind{
    background-color: rgba(0,0,0,0.5);
}

.profile_p_com{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.form_com{
    width: 60%;
    display: inline;
    border: none;
    padding-left: 0px;
    margin: 0px 0px 0px 0px;

}
.form_com:focus{
    box-shadow: none;
}
.pub-com{
    color: #3797F0;
    font-weight: 600;;
}
.pub-com:hover{
    color: #3797F0;
    font-weight: 600;;
}
.img_modal{
    padding-left: 0px;
}
.like{
    display: inline;
}
.like_on{
    border:none;
    box-shadow: none;
    display: inline-block;
}
.user_img{
    width: 50px;
    margin-top: 15px;
}
.nb-like{
    display: inline;
}
/* camera */

.video{
    /* width: 200px; */
}
.overlay{
    position: absolute;
    z-index: 10;
}
.content-stickers{
    height: 581px;
    background-color: white;
    border: solid 1px #E6E6E6;
    border-radius: 10px;
}
.stickers{
    height: 485px;
    overflow: auto;
    border-radius: 10px;
    background-color: #FAFAFA;
    border: solid 1px #E6E6E6;

    margin-top: 20px;
}
.stickers::-webkit-scrollbar {
    width: 12px;
}
.stickers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 20px;
}
.stickers::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.sticker{
    margin: 2px;
    cursor: pointer;
}
.shot{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 123, 255, 1);
    border: solid rgba(197, 197, 197, 0.644) 3px;
}
.shot:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 123, 255, 0.8);
    border: solid rgba(197, 197, 197, 0.5) 4px;
}
.camera{
    background-color: white;
    border: solid 1px #E6E6E6;
    border-radius: 10px;
    padding: 20px 0 5px 0;
    min-width: 520px;
    margin-bottom: 20px;
}
.disp-shots{
    min-height: 300px;
    max-height: 400px;
    overflow: auto;
    background-color: white;
    border: solid 1px #E6E6E6;
    border-radius: 10px;
}
.disp-shots::-webkit-scrollbar {
    width: 12px;
}
.disp-shots::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 20px;
}
.disp-shots::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.croix{
    color: #ccc;
    font-size: 30px;
    background-color: #FAFAFA;
    border: none;
}
.croix:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #FAFAFA;
}
.table td{
    border: none;
}
.pagination{
    margin-top: 15px;
}