body{
    background-color: #FAFAFA;
}

.green{
    background-color: green;
}

.center{
    text-align: center;
}
input[type="text"], input[type="password"],  input[type="email"]{
    background-color: #FAFAFA;
}

/*header*/
.whiteheader{
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}
.camagruh{
    font-family: billabong;
    font-size: 40px;
}
.test{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-right{
    color: black;
    margin: 40px;
    white-space: nowrap;
}
.nav-right:hover{
    color: black;
    text-decoration: none;
}

/*index*/
.camagru{
    text-align: center;
    padding: 10px;
    font-family: billabong;
    font-size: 60px;
}
.login-form{
    width: 370px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #E6E6E6;
    background-color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}
.pwd-forgot{
    text-align: center;
    color: black;
}
.pwd-forgot:hover{
    text-decoration: none;
}

.no-account{
    width: 370px;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #E6E6E6;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.hr {
    padding-top: 20px;
    align-items: center;
    display: flex;
    text-align: center;
    color: rgba(160, 155, 155, 0.87);
}
.hr::before,
.hr::after {
    border-top: .0625em solid #E6E6E6;
    content: "";
    flex: 1;
    margin: 0 .9em;
}

/*reset*/
.create-account{
    text-align: center;
    color: black;
    margin-bottom: 30px;
}
.create-account:hover{
    text-decoration: none;
}
.back-to-log{
    text-align: center;
    margin-top: 10px;
    color: black;
}
.back-to-log:hover{
    text-decoration: none;
}
.bottom-back{
    margin: -5px -50px -10px -50px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
}


/*sign up*/

h6{
    font-size: 12px;
    text-align: center;
}

/*edit_profil*/

.edit_profil{
    background-color: white;
    border: 1px solid #E6E6E6;
    width: 900px;
    margin-top: 100px;
}
.nav-profil-left{
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.nav-profil-right{
    background-color: white;
    border-left: 1px solid #E6E6E6;
}
.form-right{
    margin-top: 20px;
}
.list-group-item:first-child,
.list-group-item:last-child{
    border-radius: 0px;
}
.item{
    margin: 0%;
    border-radius: 0px;
    border: none;
}
.item a{
    color: black;
}
.item a:hover{
    text-decoration: none;
}
.active a{
    color: white;
}
img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
.upload-img{
    font-size: 15px;
    padding: 1px 1px 1px 1px;
}

/*galerie*/

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
canvas {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
